.generalaccueil {
  width: 100%;
  height: 100vh;
}

.row1accueil {
  width: 100%;
  height: 20%;
}

.bienvenueaccueil {
  width: 90%;
  height: 50%;

  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2.5%;

  border-radius: 5px;

  float: left;
  background: rgba(128, 128, 128, 0.692);
  display: flex;
  justify-content: center;
  align-items: center;
}

.titretextaccueil {
  font-size: xx-large;
  text-align: center;
  color: white;
  font-weight: bold;
  vertical-align: middle;
}

.row2accueilaccueil {
  width: 100%;
  height: 80%;
}

.soustitreprocedureaccueil {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12%;
  text-align: center;

  color: white;
}

.soustitreordreaccueil {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 12%;
}

.ordrepassageaccueil {
  float: left;

  width: 35%;
  height: 95%;
  margin-bottom: 5%;
  margin-right: 5%;
  margin-left: 5%;

  background: rgba(128, 128, 128, 0.692);
  border-radius: 5px;
}

.textboxaccueil {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  color: black;
}

.ordreboxaccueil {
  font-size: x-large;

  margin-left: 5%;
  margin-bottom: 3%;
  text-align: center;
  width: 90%;
  height: 8%;
  background-color: white;
  border-radius: 5px;
}

.ordrebox1accueil {
  font-size: x-large;
  text-align: center;
  color: white;
  font-weight: bold;
  margin-left: 5%;
  margin-bottom: 3%;
  text-align: center;
  width: 90%;
  height: 8%;
  background-color: rosybrown;
  border-radius: 5px;
}

.proceduresaccueil {
  float: left;

  width: 50%;
  height: 95%;

  margin-bottom: 5%;
  margin-right: 5%;
  background: rgba(128, 128, 128, 0.692);
  border-radius: 5px;
}

.textprocedureaccueil {
  margin-left: 3%;
  margin-right: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:130%;

  color: white;
}
