.generaliao{
    height: 100vh;
}

.row1iao {
    width: 100%;
    height: 10vh;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}

.messageiao{
    margin-right:5%;

    margin-left:2%;
    width: 85%;
    height: 70%;
    background-color: cyan;

}

.boxalarm {
    margin-right:5%;

    width: 6%;
    height: 100%;
    background-color: red;

}

.row2iao {
    width: 100%;
    height: 90vh;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row2col1iao {
    width: 25%;
    height: 100%;
    background-color: yellow;
}

.row2col1row1iao{
    text-align: center;

    width:90%;
    height: 25%;
    background-color: pink;
    margin-left:5%;
    margin-right:5%;
    margin-top:5%;
    margin-bottom:2%
}

.row2col1row1col1rowiao{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 100%;
    height: 15%;
}
.row2col1row1col1iao{
    width:70%;
    font-size: 70%;
    margin-left:2.5%;
    margin-right:5%;
}

.row2col1row1col2iao{
    width:20%;
    font-size: 100%;
    margin-right: 2.5%
}

.rowtabiao{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8%;


}

.nompatient {
    text-align: center;

    font-size: 50%;

    width: 30%;
    height: 100%;


    margin-top:1%;

    background-color: white;
    border-color: black
}

.attentepatient {
    text-align: center;
    font-size: 50%;

    width: 30%;
    height: 100%;

    margin-top:1%;

    background-color: white;
    border-color: black;
}

.statutpatient {
    text-align: center;

    font-size: 50%;

    width: 30%;
    height: 100%;

    margin-top:1%;

    background-color: white;
    border-color: black
}

.row2col1row2iao{
    text-align: center;

    width:90%;
    height: 40%;
    background-color: pink;
    margin-left:5%;
    margin-right:5%;
    margin-top:2%;
    margin-bottom:2%
}

.row2col1row3iao{
    text-align: center;

    width:90%;
    height: 25%;
    background-color: pink;
    margin-left:5%;
    margin-right:5%;
    margin-top:2%;
    margin-bottom:2%
}

.row2col1row35iao {
    width: 100%;
    height: 10vh;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row2col1row3col1iao{
    width: 45%;
    margin-left:2.5%;
    margin-right: 5%
}

.row2col1row3col2iao{
    width: 45%;
    margin-right:2.5%;
}


.rowtabnumeroiao{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8%;
}

.nomnumeroiao{
        text-align: center;
    
        font-size: 50%;
    
        width: 50%;
        height: 100%;
    
    
        margin-top:1%;
    
        background-color: white;
        border-color: black

}

.numeroiao {
    text-align: center;

    font-size: 50%;

    width: 50%;
    height: 100%;

    margin-top:1%;

    background-color: white;
    border-color: black
}

.row2col2iao {
    width: 75%;
    height: 100%;
    background-color: green;
}

.camerabox {
    width: 90%;
    height: 90%;

    margin-left:5%;
    margin-right:5%;
    margin-top:5%;
    margin-bottom:5%;

    background-color: blueviolet;
}