.main-container{
    /* background-image: url('../../assets/background.png'); */
    background-color: rgba(204, 213, 255, 0.445);
    /* background-size: 100% 100%; */
    margin : 0;
    /* background-attachment: fixed; */
    height: 100%;
    /* -webkit-overflow-scrolling: touch; */
    /* position: relative;
    z-index: 0;
    min-height: 100vh; */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.messages-container{
    padding: 15px 15px;
    /* overflow: scroll;
    -webkit-overflow-scrolling: touch; */
    /* min-height: 80vh; */
}

.old-messages-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* padding-top : 50px; */
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
}


.slider{
  position: relative;
  height: 100%;
  min-height: 110px;
  margin-top: 25px;
}

.slide{
  padding: 15px
}

.old-message-title{
    position: absolute ;
    top: 5px;
    left: 10px;
    font-size: large;
    color: white;
    font-weight: bold;
}

.old-message-count{
    position: absolute ;
    top: 5px;
    right: 10px;
    font-size: large;
    color: white;
    font-weight: bold;
}


.emergency-status-blink {
  background-color: rgb(255, 176, 176);
  color: red;
  -webkit-animation: BlinkAnimation 4s infinite;  /* Safari 4+ */
  -moz-animation: BlinkAnimation 4s infinite;  /* Fx 5+ */
  -o-animation: BlinkAnimation 4s infinite;  /* Opera 12+ */
  animation: BlinkAnimation 4s infinite;  /* IE 10+, Fx 29+ */
}

.information-status {
  color : green;
  background-color : rgba(0, 100, 0, 0.3);
}

.important-status {
  color : navy;
  background-color: rgba(0, 0, 255, 0.2);
}

@keyframes BlinkAnimation {
  0%, 49% {
    background-color: rgb(255, 176, 176);
    color: red;
  }
  50%, 100% {
    background-color: rgb(255, 60, 60);
    color: rgb(255, 196, 196);
  }
}

.message-container {
  border-radius: 0px 8px 8px 0px;
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.message-content {
  background-color: white;
  display: flex;
  align-items: center;
  justify-items: center;
  margin-left: 10px;
  margin-right: 10px;
  font-size: x-large;
  font-family: "Montserrat";
}

.rc-swipeout-content, .right-button-swipe-message{
  background-color: rgb(63, 58, 58);
}
.right-button-swipe-message{
    width: 150px;
    color: white
}

.message{
    background-color: white;
    /* margin-top: 10px; */
    min-height: 65px;
    border-width: 2px;
    border-style: solid;
    display: flex;
    flex-direction: row;
    border-radius: 10px;

}

.message-status{
  min-width: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 8px 8px 0px;
}

.sender-container {
  width: 200px;
  border-radius: 8px 0px 0px 8px;
}

.sender-transparent {
  height: 100%;
  width: 100%;
  border-radius: 8px 0px 0px 8px;
  background-color: rgba(255, 255, 255, 0.418);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sender-content {
  padding: 5px;
  text-align: center;
  /* font-family: 'Courier New', Courier, monospace; */
}

.date-message {
  font-weight: bold;
  margin-left: 5px;
}

.emergency-container {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
}

.emergency-popup {
  background-color: #ff8787;
  height: 80%;
  width: 80%;
  margin: auto;
  font-size: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


#navbar-board{
  background-color: navy;
  min-height: 50px;
  color: white;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #000058;
  padding: 10px;
  font-size: large;
  display: flex;
  justify-content: space-between
}