#main-container {
  /* background-image: url('../../assets/background.png'); */
  background-color: rgba(204, 213, 255, 0.445);
  /* background-size: 100% 100%; */
  margin: 0;
  /* background-attachment: fixed; */
  height: 100%;
  /* -webkit-overflow-scrolling: touch; */
  /* position: relative;
    z-index: 0;
    min-height: 100vh; */

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#main-container .messages-container {
  padding: 15px 15px;
  /* overflow: scroll;
    -webkit-overflow-scrolling: touch; */
  /* min-height: 80vh; */
}

#main-container .old-messages-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* padding-top : 50px; */
  background-color: rgba(0, 0, 0, 0.3);
  position: relative;
}

#main-container .slider {
  position: relative;
  height: 100%;
  min-height: 110px;
  margin-top: 25px;
}

#main-container .slide {
  padding: 15px;
}

#main-container .old-message-title {
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: large;
  color: white;
  font-weight: bold;
}

#main-container .old-message-count {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: large;
  color: white;
  font-weight: bold;
}

#main-container .emergency-status-blink {
  background-color: rgb(255, 176, 176);
  color: red;
  -webkit-animation: BlinkAnimation 4s infinite; /* Safari 4+ */
  -moz-animation: BlinkAnimation 4s infinite; /* Fx 5+ */
  -o-animation: BlinkAnimation 4s infinite; /* Opera 12+ */
  animation: BlinkAnimation 4s infinite; /* IE 10+, Fx 29+ */
  padding-right: 15px;
  padding-left: 0px;
}

#main-container .information-status {
  color: green;
  background-color: rgba(0, 100, 0, 0.3);
  padding-right: 15px;
  padding-left: -5px;
}

#main-container .important-status {
  color: navy;
  background-color: rgba(0, 0, 255, 0.2);
  padding-right: 15px;
  padding-left: 0px;
}

@keyframes BlinkAnimation {
  0%,
  49% {
    background-color: rgb(255, 176, 176);
    color: red;
  }
  50%,
  100% {
    background-color: rgb(255, 60, 60);
    color: rgb(255, 196, 196);
  }
}

#main-container .message-container {
  border-radius: 0px 8px 8px 0px;
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#main-container .message-content {
  background-color: white;
  display: flex;
  align-items: center;
  justify-items: center;
  margin-left: 10px;
  margin-right: 10px;
  font-size: x-large;
  font-family: "Montserrat";
}

#main-container .rc-swipeout-content,
#main-container .right-button-swipe-message {
  background-color: rgb(63, 58, 58);
}
#main-container .right-button-swipe-message {
  width: 150px;
  color: white;
}

#main-container .message {
  background-color: white;
  /* margin-top: 10px; */
  min-height: 65px;
  border-width: 2px;
  border-style: solid;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
}

#main-container .message-status {
  min-width: 116px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 8px 8px 0px;
}

#main-container .message-status-carer {
  min-width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 8px 8px 0px;
}

#main-container .sender-container {
  width: 200px;
  border-radius: 8px 0px 0px 8px;
}

#main-container .sender-transparent {
  height: 100%;
  width: 100%;
  border-radius: 8px 0px 0px 8px;
  background-color: rgba(255, 255, 255, 0.418);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#main-container .sender-content {
  padding: 5px;
  text-align: center;
  /* font-family: 'Courier New', Courier, monospace; */
  font-weight: 900; 
  font-size: 18;
}

#main-container .date-message {
  font-weight: bold;
  margin-left: 5px;
}

#main-container .emergency-container {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
}

#main-container .emergency-popup {
  background-color: #ff8787;
  height: 80%;
  width: 80%;
  margin: auto;
  font-size: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#navbar-board {
  background-color: navy;
  min-height: 50px;
  color: white;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #000058;
  padding: 10px;
  font-size: large;
  display: flex;
  justify-content: space-between;
}

#main-container .fas-size{
  font-size: 200%
}


@media screen and (max-width: 640px) {
  #main-container .main-container, #main-container .message-content{
      font-size: 110%;
    }

    #main-container .fas-size{
    font-size: 85%;
  }

  #main-container .sender-container {
      width: 120px;
      font-size: 60%;
    }
  
    #main-container .message-status {
      min-width: 55px;
      padding: 10px;
    }
/* 
    #main-container .message{
      min-height: 0px;
    } */

    
    #main-container .message-status-carer {
      min-width: 0px;
      margin-right: 10px;
    }
}