.generalbocal {
    height: 100vh;
    width: 100%;
  }
  
  .row1bocal {
    width: 100%;
    height: 10vh;
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .messagebocal {
    margin-right: 5%;
  
    margin-left: 1.25%;
    width: 85%;
    height: 70%;
    background-color: rgba(128, 128, 128, 0.658);
    border-radius: 5px;
  }
  
  .messagetextbocal{
    font-size: large;
    margin-right: 2%;
    margin-left:2%
}

  .boxalarmbocal {
    margin-right: 4%;
    border-radius: 5px;
    margin-top:1px;
    width: 6%;
    height: 100%;
  }

  .boxalarmbocal.red {
    background-color: red;
  }
  
  .boxalarmbocal.orange {
    background-color: orange;
  }
  
  .boxalarmbocal.green {
    background-color: green;
  }
  
  .row2bocal {
    width: 100%;
    height: 90vh;
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .row2col1bocal {
    width: 30%;
    height: 100%;
    background-color: none;
  }
  
  .row2col1row1bocal {
    text-align: center;
    border-radius: 5px;
  
    width: 90%;
    height: 25%;
    background-color: rgba(128, 128, 128, 0.658);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 2%;
    padding:2%
  }
  
  .row2col1row1col1rowbocal {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 100%;
    height: 15%;
    align-self: auto;
    background: #00000015;
  }
  .row2col1row1col1bocal {
    width: 70%;
    font-size: 70%;
    margin-left: 2.5%;
    margin-right: 5%;
  }
  
  .row2col1row1col2bocal {
    width: 20%;
    font-size: 100%;
    margin-right: 2.5%;
    color:rgb(4, 4, 100);
    font-weight: bold;
  }
  
  .rowtabbocal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8%;
  }
  
  .nompatientbocal {
    text-align: center;
  
    font-size: 50%;
  
    width: 30%;
    height: 100%;
  
    margin-top: 1%;
  
    background-color: rgba(255, 255, 255, 0.781);
    border-color: black;
  }
  
  .attentepatientbocal {
    text-align: center;
    font-size: 50%;
  
    width: 30%;
    height: 100%;
  
    margin-top: 1%;
  
    background-color: rgba(255, 255, 255, 0.781);
    border-color: black;
  }
  
  .statutpatientbocal {
    text-align: center;
  
    font-size: 50%;
  
    width: 30%;
    height: 100%;
  
    margin-top: 1%;
  
    background-color: rgba(255, 255, 255, 0.781);
    border-color: black;
  }
  
  .row2col1row2bocal {
    text-align: center;
  
    width: 90%;
    height: 40%;
    background-color: rgba(128, 128, 128, 0.658);
    border-radius: 5px;
  
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  
  .row2col1row3bocal {
    text-align: center;
  
    width: 90%;
    height: 65%;
    background-color: rgba(128, 128, 128, 0.658);
    border-radius: 5px;
  
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding:2%
  }
  
  .row2col1row35bocal {
    width: 100%;
    height: 10vh;
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:6%
  }

  .soustitreBocal{
    margin-bottom: 2%
  }
  
  .row2col1row3col1bocal {
    width: 100%;
    margin-left: 2.5%;
    margin-right: 5%;
  }
  
  .row2col1row3col2bocal {
    width: 45%;
    margin-right: 2.5%;
  }
  
  .rowtabnumerobocal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
  }
  
  .nomnumerobocal {
    text-align: center;
  
    font-size: 80%;
  
    width: 100%;
    height: 100%;
  
  
    background-color: rgba(255, 255, 255, 0.226);
    border-color: black;
  }
  
  .numerobocal {
    text-align: center;
  
    font-size: 80%;
  
    width: 100%;
    height: 100%;
    
    background-color: rgba(255, 255, 255, 0.226);
    border-color: black;
  }
  
  .row2col2bocal {
    width: 75%;
    height: 100%;
    background-color: none;
    border-radius: 5px;
  }

  .titrestatutbocal{
      text-align: center;
      font-size:200%
  }

.statutbox {
  width: 90%;
  height: 91%;

  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  margin-bottom: 5%;
  border-radius:5px;
  background-color: rgba(255, 255, 255, 0.781);
}

.tableaugeneralbocal{

    margin-right: 2%;
    margin-left:2%;
    border-radius: 5px;
    width: 96%;
    height:90%;
    border:solid 1px #000000;
}

.rowtabbocalstatut {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
}

.tableaustatut {
  text-align: center;

  font-size: 100%;

  width: 25%;
  height: 100%;


  background-color: rgba(255, 255, 255, 0.781);
  border-color: black;
  border: solid 1px #000000;
}

.tableaustatut.green {
  background-color: rgba(45, 172, 29, 0.212);
}

.tableaustatut.white {
  background-color: rgba(255, 255, 255, 0.781);
}