.single-service {
  display: flex;
  justify-content: space-between;
}

.delete-button {
  height: 100%;
  width: 28px;
  padding: 0px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
}

.badge-service {
  height: 100%;
  width: 28px;
  margin-top: auto;
  margin-bottom: auto;
  border: solid 1px #000000;
  transform: translate(0px, -4px);
}

.badge-choose {
  width: 100%;
}

.selected {
  border-radius: 3px;
  border: solid 4px #5baa50;
}

.not-selected {
  border-radius: 3px;
  border: solid 2px #000000;
}

.col {
  margin: 5px;
  height: 40px;
}
