.general{
    width: 100%;
    height: 100vh;
    padding-top:0.5%;
    padding-right: 0.5%;
    padding-left:0.5%;
}

textarea {
    resize: none; 
  }

.row1 {
    width: 100%;
    height: 20vh;
    background-color: none
}

div#colonne1 {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0.25%;
    padding:0%;
	float: left;
    width: 49.75%;
    height: 100%;
    background: rgba(82, 88, 86, 0.521);
    border-radius:5px;
    box-shadow: 7px 4px 4px rgba(3, 3, 3, 0.3)
}

.form-control1 {
    font-size: 200%;

    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;

    border-color: none;
    
    color:white; 
    background: rgba(20, 20, 24, 0.082);

    
    width: 100%;
    height: 100%;
    box-shadow: 7px 4px 4px rgba(3, 3, 3, 0.3)
}

div#colonne2 {
    border-radius: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0.25%;
    margin-right: 0px;
    height: 100%;
    padding:0%;

	float: left;
	width: 49.75%;
    background: rgba(207, 230, 220, 0.342);
    border-radius:5px;
    box-shadow: 7px 4px 4px rgba(3, 3, 3, 0.3);


}

.form-control2 {
    font-size: 200%;

    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;

    border-color: none;
    
    color:white; 
    background: rgba(42, 49, 46, 0.658);
    text-align: center;

    width: 100%;
    height: 100%;
    box-shadow: 7px 4px 4px rgba(3, 3, 3, 0.3);

}

.row2 {
    width: 100%;
    height: 50vh;
    background-color: none
}
div#colonne3 {
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    margin-left: 0px;
    margin-right: 0px;
    padding:0%;
	float: left;
    width: 25%;
    height: 95%;
    padding: 0px;
    background: none;
    border-radius: 5px;
    box-shadow: 7px 4px 4px rgba(3, 3, 3, 0.3);

}

.form-control3 {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding:0%;

    border-color: none;
    
    color:white; 
    border-radius: 5px;

    background: rgba(128, 128, 128, 0.363);
    text-align: center;

    width: 100%;
    height: 100%;
    box-shadow: 7px 4px 4px rgba(3, 3, 3, 0.3);

}

.form-control3-icon{
    background-image: url('../../assets/imagedicteevocale.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
    margin: auto;
    width: 63%;
    height: 55%;
}

div#colonne4 {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    height: 100%;
	float: left;
	width: 75%;
    background: none;
    box-shadow: 7px 4px 4px rgba(3, 3, 3, 0.3);

}

.form-control4 {
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 2%;
    margin-right: 2%;
    padding:2%;

    border-color: none;
    color:black; 
    font-size: xx-large;
    background: rgba(255, 255, 255, 0.616);
    text-align: left;
    border-radius: 5px;
    width: 96%;
    height: 46vh;
    box-shadow: 7px 4px 4px rgba(3, 3, 3, 0.3);

}

.row3 {
    width: 100%;
    height: 28vh;
}
div#colonne5 {
    border-radius: 5px;

    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0%;
    margin-right: 0.5%;

	float: left;
    width: 29%;
    height: 100%;
    background: white;
    border:0px;
    box-shadow: 7px 4px 4px rgba(3, 3, 3, 0.3);

    
}

.form-control5 {
    border:0px;
        border-radius: 5px;

    font-size: 200%;

    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;

    border-color: none;
    color:white; 
    background: rgba(0, 0, 128, 0.562);
    text-align: center;

    width: 100%;
    height: 100%;
    box-shadow: 7px 4px 4px rgba(3, 3, 3, 0.3);

}


.importantbox {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.important-statusenvoi {
  color : rgba(0, 0, 255, 0.651);
  background-color : none;
  width:30%;
}

.sous-importantbox{
    width:50%;
    text-align:left;
    margin-left:3%;
}

div#colonne6 {
    border-radius: 5px;

    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;

	float: left;
    width: 40%;
    height: 100%;
    background:white;
    border:0px;
    box-shadow: 7px 4px 4px rgba(3, 3, 3, 0.3);


}

.form-control6 {
    border-radius:5px;

    font-size: 200%;

    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;

    border-color: none;
    color:white; 
    background: rgb(201, 61, 61);
    text-align: center;

    width: 100%;
    height: 100%;
    border:0px
}

.urgentbox {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.urgent-statusenvoi {
  color : rgb(255, 176, 176);
  background-color : none;
  width:30%;
  margin-right:0%;
}

.sous-urgentbox{
    width:50%;
    text-align:left;
    margin-left:5%
}



div#colonne7 {
    border-radius: 5px;

    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0.5%;
    margin-right: 0px;

	float: left;
    width: 29%;
    height: 100%;
    background: white;
    border:0px;
    box-shadow: 7px 4px 4px rgba(3, 3, 3, 0.3);


}

.form-control7 {
    border:0px;

    border-radius:5px;

    font-size: 200%;

    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;

    border-color: none;
    color:white; 
    background-color : rgba(0, 100, 0, 0.712);
    text-align: center;

    width: 100%;
    height: 100%;
    box-shadow: 7px 4px 4px rgba(3, 3, 3, 0.3);

}

.infobox {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.information-statusenvoi {
  color : green;
  background-color : none;
  width:30%;

}

.sous-infobox{
    width:50%;
    text-align:left;
    margin-left: 3%
}


.chatInputWrapper {
    position: relative;
    height: 40px;
  }
  .micImg {
    position: absolute;
    width: 38px;
    height: 38px;
    right: 5px;
    top: 1px;
  }
  .chatMessageInput {
    background-color: #ffffff;
    padding: 0 10px;
    margin: 0;
    width: 100%;
    border-radius: 2px;
    border: 1px solid #e5e9ec;
    transition: background 0.2s linear 0s, box-shadow 0.2s linear 0s;
    outline: 0;
    height: 40px;
    box-sizing: border-box;
  }

